[package]
name = "shared"
version.workspace = true
edition.workspace = true

[dependencies]
soroban-sdk = { version = "21.0.0", features = ["alloc"] }

[features]
testutils = ["soroban-sdk/testutils"]
